<h1>Twittered</h1>
<p>
  This is the home page for the
  <a href="http://twittered.heroku.com">Rails 3 powered Twitterlike Microblog</a>
  sample application.
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
